<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>arfgfqri@tznvy.pbz</string>
	<key>contactName</key>
	<string>Sergey Nesterenko</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>asterisk</string>
	<key>uuid</key>
	<string>B612E234-F01E-4B14-9BA8-12E68D7459CB</string>
</dict>
</plist>
